@media screen and (min-width:780px){
 .gallery{
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.gallery img{
    height: 200px;
    width: 300px;
}
}

@media screen and (min-width:1030px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    #menu{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .navigation{
        display: flex;
        gap: 4rem;
    }
}

